@model hmx.vodafone.web.Models.PaginatedList<hmx.vodafone.web.Models.DBModels.VodafoneActivity>

<div class="panel panel-default">
    <div class="panel-heading" style="font-weight: bold;">
        Activity List
    </div>
    <div class="panel-body">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                        <th>
                            Created Date
                        </th>
                        <th>
                            Activity Id
                        </th>                
                        <th>
                            Event Type
                        </th>
                        <th>
                            Battery
                        </th>
                        <th>
                            Location
                        </th>
                        <th>
                            Actions
                        </th>
                </tr>
            </thead>
            <tbody>
        @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ActivityId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EventType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Battery)
                    </td>
                    <td>
                        Lat : @Html.DisplayFor(modelItem => item.Lat),
                        Lng : @Html.DisplayFor(modelItem => item.Lng)
                    </td>
                    <td>
                        @if (item.IsSeries) {
                            <a class="btn btn-info btn-sm" onclick="activitySeriesList('@item.ActivityId', '1');">Series History</a>
                        }
                    </td>
                </tr>
        }
            </tbody>
        </table>
        @{
            var prevActivityDisabled = !Model.HasPreviousPage ? "disabled" : "";
            var nextActivityDisabled = !Model.HasNextPage ? "disabled" : "";
        }
        <a class="btn btn-light @prevActivityDisabled" onclick="activityList('@ViewData["deviceid"]', '@(Model.PageIndex - 1)');">Previous</a>
        <a class="btn btn-light @nextActivityDisabled" onclick="activityList('@ViewData["deviceid"]', '@(Model.PageIndex + 1)');">Next</a>
    </div>
</div>