.sidebar-logo {
    h1 {
        margin-left: 10px;
        margin-top: 10px;
        margin-bottom: 0;
        text-transform: uppercase;
        font-weight: bold;
        display: inline-block;
        position: fixed;
    }
}
.sidebar-menu {
    padding: 50px 0;
    background-color: #333333;
    height: 100%;

    .sidebar-icon {
        display: inline-block;
        svg {
            width: 13px;
            height: 17px;
            position: relative;
            top:9px;
            margin-bottom: 9px;
            path {
                fill: #FFFFFF;
            }
            margin-right: 20px;
        }
    }

    .menu-item-children, .menu-item-root {
        color: #ffffff;
        text-decoration: none;
        display: inline-block;
    }
}

.ant-menu-submenu-title {
    span {
        font-family: 'Vodafone';
        font-size: 20px;
        color: #FFFFFF;
        text-transform: uppercase;
    }
}