@model IEnumerable<hmx.vodafone.web.Models.RoleViewModels.RoleViewModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Roles</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<div class="panel panel-default">
    <div class="panel-heading">
        Role List
    </div>
    <div class="panel-body">
        <div class="row">
            @foreach (var item in Model) 
            {
                <div class="col-sm-6 col-md-4 text-center">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h2>@Html.DisplayFor(modelItem => item.RoleName)</h2>
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Details</a>
                            @if (item.RoleName != "Admin") {
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


<!-- <div class="panel panel-default">
    <div class="panel-heading" style="font-weight: bold;">
        Role List
    </div>
    <div class="panel-body">
        <table class="table">
            <thead>
                <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.RoleName)
                        </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
        @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.RoleName)
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Details</a>
                    @if (item.RoleName != "Admin") {
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-success">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                    }
                    </td>
                </tr>
        }
            </tbody>
        </table>
    </div>
</div> -->