.model-card-detail{
    height:172px;
    border-radius: 5px;
    border: 1px solid #EDEDED;
    background-color: #F4F4F4;
    &:hover{
        cursor: pointer;
    }
    div.ant-card-body{
        .model-card-container{
            width: 80%;
            height: 28px;
            text-align: center;
            margin-top: 45px;
            margin-left: auto;
            margin-right: auto;
            color: #4B4D4E;
            font-size: 18px;
            border-radius: 8px;
            border: 1px solid #EDEDED;
            background-color: #FFFFFF;
            font-family: Vodafone;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            padding-left: 27px;
            padding-right: 27px;
        }
        .model-card-container:hover{
            cursor: pointer;
            // border: 2px solid Lavender  ;
        // background-color: #999999 !important;
        }
        .model-card-small-modal-wapper{
            
        }
    }   
}
.model-card-icon-wapper{
    .small-select-wapper {
        bottom: 20px;
        right: 12px;
    }
    cursor: pointer;
    .model-card-icon{
         display: inline-block;
         svg{
             height: 6px;
         }
     }
 }

 .ant-modal-content{
    .ant-modal-close-x{
       padding-right: 25px; 
    }
}

