.vfsm-maintenance-container {
    .vfsm-maintenance-header{
        height: 131px;
        width: 100%;
    
        .row-end{
            margin-top: 30px;
            float: right;
            .maintenance-header-input-item{
                margin-left: 15px;
            }
        }
    }
    .vfsm-maintenance-body{
         border: 1px solid #F1F1F1;
        .monitoring-sort{
            margin-top: 0px !important;
        }

        .monitoring-data{
            padding-top: 10px;
        }
        
        .vfsm-maintenance-body-title {
            padding: 10px;
            background-color: #F4F4F4;
            .custom-select {
                width: 145px !important;
            }
            .ant-select-selection {
                height: 30px;
            }
            .custom-select .ant-select-selection__rendered {
                line-height: 27px;
            }
            .ant-select-selection__placeholder, .ant-select-search__field__placeholder {
                color: black;
            }
        }
        .vfsm-maintenance-body-container{
            padding-top: 1px;
            padding-left: 25px;
            padding-bottom: 22px;
            padding-right: 25px;
            .ant-col-6{
                padding-right: 20px !important;
                .ant-card.model-card-detail.ant-card-bordered:hover{
                    // cursor: pointer;
                     border: 2px solid rgb(194, 194, 240)  ;
                     background-color: #999999 !important;
                 }
     
                .ant-card.ant-card-bordered.ant-card-wider-padding .ant-card-body{
                     padding: 0px;
                }
                .model-card-container{
                    margin-top: 48px !important;
                }
            }
      
        }
        .vfsm-maintenance-body-model-detail-wapper{
            
        }

    } 
    .sort-order {
        display: inline-block;
        margin-left: 10px;
        margin-top: 5px;
        position: absolute;
        .ascending, .descending {
            cursor: pointer;
            svg {
                width: 8px;
                height: 7px;
                #ARROW {
                    fill: #636363;
                }
            }
            div {
                display: flex;
            }
        }
        .ascending:hover, .descending:hover {
            #ARROW {
                fill: #89dff4;
            }
        }


        .ascending {
            transform: rotateX(180deg);
            margin-bottom: 5px;
        }
    }  
}