.vfsm-voda-input-wrapper{
    margin: 0px !important;
    padding: 0px !important;
}
.vfsm-add-new-role-title{
    margin-bottom: 10px;
    margin-top: 10px;
    span{
        font-size: 20px;
        font-weight: bold;
        padding-left: 2px;
    }
}
.vfsm-add-new-role-modal{
    .ant-modal-content{
        height: fit-content;
        .vfsm-add-new-role-content{
            overflow-y: auto;
            overflow-x: hidden;
            max-height: 410px!important;
        }
    }
}


.vfsm-add-new-role-content{
    .model-detail-content-wapper:nth-last-child(1){
        .ant-col-18.add-col-chil-detail{
            .ant-row{
                border: 1px solid #f8f8f8;
                div.ant-col-18.add-col-detail{
                    border: 1px solid #f8f8f8; 
                }
            }
        }
    }
}