.vfsm-voda-input-wrapper{
    margin: 0px !important;
    padding: 0px !important;
}
.button-footer.model-add-button{
    .ant-btn.btn-general.ml-3{
        background-color: #F8F8F8;
        span{
            color:#C82C1F;
         }
    }
    .ant-btn.btn-general.ml-3:hover{
        background-color: #d5cece;
    }
}