
.vfsm-editable-table-ota{
    .ant-table-body {
        overflow-x: hidden !important;
    }
    .ant-table-tbody {
        > tr {
            //border: 1px solid #F1F1F1;
            background-color: #FFFFFF ;
                > td {
                    // margin-left: 1px;
                    //background-color: #2D3B58;
                    text-align: center;
                    .ant-switch {
                        transform: rotateY(180deg);
                       // margin-bottom: 5px;
                    }
                    .ant-form-item-with-help{
                        margin-top: 20px !important;
                    }
                    .ant-switch.ant-switch-checked.ant-switch-disabled{
                        background-color: #B23737;
                    }
                    .ant-switch#isActive{
                        background-color: #F4F4F4;
                    }
                    .ant-switch.ant-switch-checked#isActive{
                        background-color: #B23737;
                    }

                    .ant-switch.ant-switch-disabled{
                        background-color: #F4F4F4;
                    }

                    .showFile{
                        max-width: 150px;
                        max-height: 32px;
                        white-space: nowrap;
                        -o-text-overflow: ellipsis;
                        text-overflow: ellipsis;
                        padding-left: 5px;
                        padding-right: 5px;
                        overflow: hidden;
                        display: inline-block;
                    }

                    .vfsm-small-select-circle{
                        border: 1px solid #F4F4F4;
                        padding: 3px;
                        width: 40px;
                        border-radius: 10px;
                        height: 14px;
                        .small-select-wapper{
                            #SEE_MORE{
                                fill: #707070;
                            }
                        }
                    }
                }
                > td:nth-last-child(1) div{
                    justify-content: center;
                    display: flex;
                    .action-row a {
                        margin-left : 0px !important;
                    }
                }
        }
        >tr.ant-table-row.vfsm-row-hightlight.ant-table-row-level-0 {
            background-color: #FFEBEB !important;
            border: 1px solid #37b290;
            >td{
                font-weight: bold;
            }
        }

        >tr.ant-table-row.vfsm-row-blur.ant-table-row-level-0 {
            >td{
                opacity: 0.3;
                border-color: #c9c9c9;
            }
            >td:nth-last-child(1){
                opacity: 1;
                border-color: #f2f2f2;
            }
            >td.vfsm-ota-table-uploaded-date{
                opacity: 1;
                border-color: #f2f2f2;
            }
        }

        >.ant-table-row.vfsm-row-forcus.ant-table-row-level-0{
            background-color: #F8F8F8 !important;
            border: 1px solid #B23737 !important;
            >td{
                border-top: 1px solid #B23737 !important;
                border-bottom: 1px solid #B23737 !important;
                border-right: none;
            }
            >td:nth-last-child(1){
                border-right: 1px solid #B23737 !important;
            }
            >td:nth-child(1){
                border-left: 1px solid #B23737 !important;
            }
        }
    }
}

.ant-table-fixed-header .ant-table-scroll .ant-table-header{
    overflow-x: hidden !important;
}
.ant-table-thead {
    > tr{
        >th {
            color: #2D3B58;
        // border: 1px solid #F1F1F1;
            background-color: #F4F4F4;
            font-size: 15px;
            text-align: center;
            span{
                font-weight: bold;
            }
        }
    }
}
.ant-table {
    font-family: 'Vodafone';
}

.ant-notification.ant-notification-bottomRight{
    height: 77px;
    width: 237px;
    .vfsm-ota-notification-error{
        height: 77px;
        width: 237px;
        border: 1px solid #B23737;
        background-color: #FFEBEB;
        .ant-notification-notice-content{
            text-align: center;
            justify-content: center;
            justify-items: center;
            margin-top: -9px;
            color: rgb(10, 10, 10);
            padding-top: -21px;
        }
        .ant-notification-notice-close{
        //    display: none;
        }
    }
    .vfsm-ota-notification{
        height: 77px;
        width: 237px;
        border: 1px solid #77b237;
        background-color: #f2ffeb;
        .ant-notification-notice-content{
            text-align: center;
            justify-content: center;
            justify-items: center;
            margin-top: -9px;
            color: #37b290;
            padding-top: -21px;
        }
        .ant-notification-notice-close{
        //    display: none;
        }
    }
}

#model-detail-constant-MC60{
    .vfsm-editable-table-ota{
        .ant-table-tbody {
            > tr {
                >tr.ant-table-row.vfsm-row-blur.ant-table-row-level-0 {
                    >td:nth-child(5){
                        opacity: 1 !important;
                    }
                }
            }
        }
    }
}

