.customer {
    padding: 6px;
    padding-bottom: 9px;
    background-color: #FFFFFF;

    .customer-detail-show {
        display: flex;
    }

    .customer-text {
        color: #999999;	
        font-size: 14px;
    }

    .customer-mobile-type {
        min-height: 92px;
    }

    .customer-code {
        background-color: #FFFFFF;
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 70px;
        width: 77px;
        min-height: 23px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        border: 1px solid #F4F4F4;
        text-align: center;
        font-size: 14px;
        font-weight: 500;
        border-radius: 999px;
        position: absolute;
        color: #000000;
    }

    .customer-avatar {
        margin-top: 15px;
        margin-left: 8px;
        cursor: pointer;
    }

    .customer-device {
        border: 1px solid #F4F4F4;
        background-color: #FFFFFF;
        margin-top: 50px;
        img {
            width: 50%;
            height: 50%;
            margin: 25%;
        }
    }

}