.vfsm-voda-input-wrapper{
    margin: 0px !important;
    padding: 0px !important;
}
.modal-add-user-wapper{
    .button-footer.model-add-button{
        #vfsm-add-new-user.ant-btn.btn-general.ml-3{
            background-color: #B23737 !important;
            span{color: #fff;}
        }
        #vfsm-add-new-user.ant-btn.btn-general.ml-3:disabled{
            background-color: #F4F4F4 !important;
            span{color: #fff;}
        }
    }
}
.add-device-input-error{
    border: 1px solid red ;
    width: 424px !important;
    border-radius: 5px;
}
.add-device-input-error{
    .ant-select-selection.ant-select-selection--single:focus{
        border: none;
    }
}
